In [46]:
from IPython.core.display import HTML
HTML('''
<script>
var logoParent = document.getElementById("kernel_logo_widget")
var logo = document.getElementById("kernel_logo_widget").getElementsByClassName("current_kernel_logo")[0];
logo.src = "https://i.ibb.co/mD4jTGQ/itclogo.jpg";
logo.style = "display: inline; width:138px; height:40px";
logoParent.innerHTML = '<a href="https://i.ibb.co/mD4jTGQ/itclogo.jpg">' + logoParent.innerHTML + '</a>';
</script>
''')

<font size="36"><b>Pandas - Assignment I</b></font> <img src = "https://s3-ap-south-1.amazonaws.com/av-blog-media/wp-content/uploads/2018/03/pandas.jpg" height=200 width=200>

Based on questions from https://www.machinelearningplus.com

In [4]:
import pandas as pd
import numpy as np

# Question 0

Print your `pandas` version

In [5]:
pd.__version__

'1.0.1'

In [6]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.10.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.3.0-42-generic
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.0.1
numpy            : 1.18.1
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 20.0.2
setuptools       : 46.0.0.post20200309
Cython           : 0.29.15
pytest           : 5.3.5
hypothesis       : 5.5.4
sphinx           : 2.4.0
blosc            : None
feather          : None
xlsxwriter       : 1.2.7
lxml.etree       : 4.5.0
html5lib         : 1.0.1
pymysql          : 0.9.3
psycopg2         : None
jinja2           : 2.11.1
IPython          : 7.13.0
pandas_datareader: None
bs4              : 4.6.0
bottleneck       : 1.3.2
fastparquet      : None
gcsfs            : None
lxml.etree       : 4.5.0
matplotlib       : 3.1.3
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.3
pandas_gbq       : None
pyarrow          : None
pytables         : None
pytest           : 5.3.5
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.13
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
xlsxwriter       : 1.2.7
numba            : 0.48.0

# Question #1

Print the unique values in a pandas series `series`, and the number of appearances in the series. Use one line of code.

In [7]:
series = pd.Series(np.take(list('abcdefghijklmnop'), np.random.randint(16, size=500)))
print(series.value_counts())

c    41
l    40
k    38
a    38
h    34
b    33
g    33
n    31
d    30
m    30
o    28
i    28
j    27
p    25
f    24
e    20
dtype: int64

# Question #2

Divide a pandas series of 500 numbers between 1 and 100 to:
 1. Based on value: 10 bins of width ~10
 2. Based on the distribution: 10 bins of same amount of non-unique items in each bin
 
 Don't need to actually create the groups, but prove that the correct split was done.

In [8]:
series_q2 = pd.Series((np.random.randint(100, size=(1, 500))+1)[0])
pd.cut(series_q2,bins=10)

0       (70.3, 80.2]
1       (50.5, 60.4]
2       (30.7, 40.6]
3       (50.5, 60.4]
4       (60.4, 70.3]
           ...
495     (50.5, 60.4]
496     (20.8, 30.7]
497     (20.8, 30.7]
498    (0.901, 10.9]
499     (70.3, 80.2]
Length: 500, dtype: category
Categories (10, interval[float64]): [(0.901, 10.9] < (10.9, 20.8] < (20.8, 30.7] < (30.7, 40.6] ... (60.4, 70.3] < (70.3, 80.2] < (80.2, 90.1] < (90.1, 100.0]]

In [15]:
pd.qcut(series_q2, q=10)

0       (73.3, 82.0]
1       (53.0, 62.4]
2       (23.0, 33.0]
3       (43.6, 53.0]
4       (62.4, 73.3]
           ...
495     (53.0, 62.4]
496     (12.9, 23.0]
497     (23.0, 33.0]
498    (0.999, 12.9]
499     (73.3, 82.0]
Length: 500, dtype: category
Categories (10, interval[float64]): [(0.999, 12.9] < (12.9, 23.0] < (23.0, 33.0] < (33.0, 43.6] ... (62.4, 73.3] < (73.3, 82.0] < (82.0, 92.0] < (92.0, 100.0]]

# Question #3

Stack two pandas series:
 1. horizontally - final shape (5,2)
 2. Vertically - final shape (10,1)

In [16]:
series_q3_1 = pd.Series(['a', 'b', 'c', 'd', 'e'])
series_q3_2 = pd.Series([1,2,3,4,5])

pd.concat([series_q3_1, series_q3_2], axis= 0).reset_index(drop=True)

0    a
1    b
2    c
3    d
4    e
5    1
6    2
7    3
8    4
9    5
dtype: object

In [54]:
# Vertically - final shape (10,1)
pd.concat([series_q3_1, series_q3_2], axis=0)

0    a
1    b
2    c
3    d
4    e
0    1
1    2
2    3
3    4
4    5
dtype: object

# Question #4

Calculate the number of characters in each value in a pandas series

In [55]:
series_q4 = pd.Series(['This', 'is', 'a', 'string', 'with', 'words'])
series_q4.str.count('[a-zA-Z]')

0    4
1    2
2    1
3    6
4    4
5    5
dtype: int64

# Question #5

Calculate the first and second derivative of a pandas series (difference between consecutive numbers, and the difference between these diffrerences)

In [56]:
series_q5 = pd.Series([1, 2, 5, 9, 18, 25, 32, 34, 55, 60])
deriv1 = series_q5.diff()
deriv2 = deriv1.diff()
print(deriv1,'\n\n',deriv2)

0     NaN
1     1.0
2     3.0
3     4.0
4     9.0
5     7.0
6     7.0
7     2.0
8    21.0
9     5.0
dtype: float64

 0     NaN
1     NaN
2     2.0
3     1.0
4     5.0
5    -2.0
6     0.0
7    -5.0
8    19.0
9   -16.0
dtype: float64

# Question #6

Get the day of month, week number, day of year and day of week from a pandas series (Hint: you can use the dateutil.parser package)

In [57]:
from dateutil.parser import parse
series_q6 = pd.Series(['01 Jan 2019', '02-02-2019', '20150303', '2013/04/04', '2012-05-05', '2013-06-06T12:20'])
date_series = series_q6.map(lambda x: parse(x))
print(date_series)
print('Day of month:',date_series. dt.day.tolist())
print('Week number:',date_series.dt.weekofyear.tolist())
print('Day of year:',date_series.dt.dayofyear.tolist())
print('Day of week:',date_series.dt.day_name())

0   2019-01-01 00:00:00
1   2019-02-02 00:00:00
2   2015-03-03 00:00:00
3   2013-04-04 00:00:00
4   2012-05-05 00:00:00
5   2013-06-06 12:20:00
dtype: datetime64[ns]
Day of month: [1, 2, 3, 4, 5, 6]
Week number: [1, 5, 10, 14, 18, 23]
Day of year: [1, 33, 62, 94, 126, 157]
Day of week: 0     Tuesday
1    Saturday
2     Tuesday
3    Thursday
4    Saturday
5    Thursday
dtype: object

# Question #7

Create a Datetime index that contains each business day (Monday - Friday) of 2015 and use it to index a pandas series of random numbers.

In [28]:
import datetime as dt
import pandas as pd
days_mon_fri = pd.bdate_range("2015-01-01", "2015-12-31").day_name()
series_q7 = pd.Series((np.random.randint(100, size=(1, len(days_mon_fri)))+1)[0])
series_q7.index = days_mon_fri

print(series_q7)

Thursday     65
Friday       45
Monday       11
Tuesday      74
Wednesday    27
             ..
Friday       46
Monday       19
Tuesday      43
Wednesday    12
Thursday     78
Length: 261, dtype: int64

# Question #8

Using the series in Question #7, find the sum of the values for all the Wednesdays.

In [30]:
series_q7['Wednesday'].sum()

2690

# Question #9

Out of the following series, how many values are "Apples"? Remember to use a vector-like calculation

In [17]:
import random
nouns = ["Apples", "Bananas", "Peaches"]
series_q9 = pd.Series([nouns[random.randrange(0, len(nouns))] for i in range(500)])
sum(series_q9 == 'Apples')

0      Peaches
1       Apples
2       Apples
3       Apples
4      Bananas
        ...
495     Apples
496    Peaches
497    Bananas
498    Bananas
499    Peaches
Length: 500, dtype: object

# Question #10

Change the first character of each word to upper case in each word of the given pandas series

In [28]:
series_q10 = pd.Series(['we', 'are', 'at', 'the', 'campus', 'learning', 'pandas'])
series_q10.str.capitalize()

0          We
1         Are
2          At
3         The
4      Campus
5    Learning
6      Pandas
dtype: object